/* HEADER */

.header {
    border-bottom: 1px solid var(--line-grey);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
}

.header__logo {
    color: var(--logo-black);
}

.header .logo {
    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.logo--accent {
    color: var(--accent-blue);
}

.menu__link {
    color: var(--font-black);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-blue);
        fill: var(--accent-blue);
    }

    &:hover::after,
    &:focus::after {
        background-color: var(--accent-blue);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.contacts__link {
    color: var(--font-grey);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-blue);
        fill: var(--accent-blue);
    }
}

.current {
    color: var(--accent-blue);
    fill: var(--accent-blue);

    &::after {
        background-color: var(--accent-blue);
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.header-container,
.menu,
.header-nav {
    display: flex;
    align-items: center;
}

.menu-switcher {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.menu {
    margin-left: 93px;
}

.menu__item {
    position: relative;
}

.menu__item {
    &:not(:first-child) {
        margin-left: 50px;
        white-space: nowrap;
    }
}

.contacts__item {
    @media screen and (max-width: 1199px) and (min-width: 768px) {
        white-space: nowrap;
        &:first-child {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:first-child) {
            margin-left: 50px;
            white-space: nowrap;
        }
    }
}

.contacts {
    @media screen and (max-width: 1199px) and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        flex-direction: column;
        justify-content: flex-end;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: wrap;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }
}

.menu__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}

.contacts__link {
    @media screen and (max-width: 1199px) and (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        align-items: center;
    }
}
