.hero {
    color: var(--white);
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        min-height: 400px;
        max-width: 100%;

        background: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero-mobile_o.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        min-height: 400px;
        max-width: 768px;

        background: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero-tablet_o.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 60px;
        min-height: 600px;
        max-width: 1600px;

        background: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero-desctop_o.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }
}

.hero__button {
    color: inherit;
    background-color: var(--accent-blue);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    margin-top: 30px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: inherit;
        background-color: var(--accent-blue-active);
    }
}
