/* COMMON */

:root {
    --white: #ffffff;
    --accent-blue: #2196f3;
    --accent-blue-active: #188ce8;
    --logo-black: #000000;
    --font-black: #212121;
    --font-grey: #757575;
    --line-grey: #ececec;
    --background-navy: #2f303a;
    --white-op60: #ffffff99;
    --backgroud-grey: #f5f4fa;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    font-family: roboto, sans-serif;
}

button {
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2,
h3 {
    color: var(--font-black);
}

h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
}

h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

p {
    color: var(--font-grey);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER */

.logo-accent {
    color: var(--accent-blue);
}

header {
    border-bottom: 1px solid var(--line-grey);
}

header .logo {
    color: var(--logo-black);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
}

.header-nav-menu a {
    color: var(--font-black);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-text a {
    color: var(--font-grey);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-menu a:hover,
.header-nav-text a:hover,
.header-nav-menu a:focus,
.header-nav-text a:focus,
.header-nav-menu .current {
    color: var(--accent-blue);
    fill: var(--accent-blue);
}

.header-nav-menu-item a:hover::after,
.header-nav-menu-item a:focus::after,
.header-nav-menu .current::after {
    background-color: var(--accent-blue);
}

.header-nav-menu-item a::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

header .icon {
    fill: currentColor;
    margin-right: 10px;
}

.mail .icon {
    width: 16px;
    height: 12px;
}

.tel .icon {
    width: 10px;
    height: 16px;
}

header .container,
.header-nav-menu,
.header-nav-text,
.container nav {
    display: flex;
    align-items: center;
}

.header-nav-menu {
    margin-left: 93px;
}

.header-nav-menu-item {
    position: relative;
}

.header-nav-menu li:not(:first-child),
.header-nav-text li:not(:first-child) {
    margin-left: 50px;
    white-space: nowrap;
}

.header-nav-text {
    margin-left: auto;
}

.header-nav-menu a,
.header-nav-text a {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}

/* FOOTER */

footer {
    background-color: var(--background-navy);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 60px;
    padding-top: 60px;
}

footer p {
    color: var(--white);
}

footer a {
    color: var(--white-op60);
}

.add-us h3,
.subscribe h3 {
    color: var(--white);
    text-transform: uppercase;
    display: inline-flex;
    margin-bottom: 20px;
}

footer .social-links {
    display: flex;
}

footer .icon {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

footer .logo {
    color: var(--white);
    display: inline-flex;
    padding-bottom: 20px;
}

address p,
address a {
    display: block;
    margin-bottom: 9px;
}

.add-us a {
    display: flex;
}

.add-us li {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.add-us li:first-child {
    margin-left: 0px;
}

.add-us li:hover,
.add-us li:focus {
    background-color: var(--accent-blue);
}

.subscribe form {
    display: flex;
}

.subscribe input {
    width: 358px;
    height: 50px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;

    color: var(--white);

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin-left: 12px;

    background-color: var(--accent-blue);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe .icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.subscribe button:hover,
.subscribe button:focus {
    background-color: var(--accent-blue-active);
}

.subscribe input:focus {
    border-color: var(--accent-blue);
}

/* .container,
.header-nav-menu,
.header-nav-text {
    outline: crimson solid 1px;
} */
