*,
::after,
::before {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    font-family: roboto, sans-serif;
}

button {
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.why-we,
.our-team,
.clients {
    @media screen and (max-width: 767px) {
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
}

.why-we,
.what-are-we-doing,
.our-team,
.clients {
    @media screen and (max-width: 767px) {
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
    }
}
