:root {
    --white: #ffffff;
    --accent-blue: #2196f3;
    --accent-blue-active: #188ce8;
    --logo-black: #000000;
    --font-black: #212121;
    --font-grey: #757575;
    --line-grey: #ececec;
    --background-navy: #2f303a;
    --white-op60: #ffffff99;
    --backgroud-grey: #f5f4fa;
}
